<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
   <!--Send list (separate multiple emails by semicolon)-->
    <add key ="toEmail" value=""/>
    <!--for non Outlook mail items-->
    <add key ="fromEmail" value=""/> 
    <!--for non Outlook mail items-->
    <add key ="username" value=""/>
    <!--for non Outlook mail items-->
    <add key ="password" value=""/>
    <!--for non Outlook mail items-->
    <add key ="host" value= ""/>
    <!--for non Outlook mail items-->
    <add key ="port" value= ""/> 
    <!--Full Path of CSV including folder path,file name,and extension-->
    <add key ="CSVLocation" value= ""/> 
    <!--Open the CSV and find the exact location to enter for the team-->
    <add key ="ParkName" value= ""/> 
    <!--You'll need to goto http://www.wunderground.com/weather/api/, and get a key to use the API.-->
    <add key ="APIKey" value= ""/>
    <!--City Name for Wunderground API to get weather data--> 
    <add key ="City" value= ""/>
    <!--State intials for Wunderground API to get weather data-->
    <add key ="StateAbbreviation" value= ""/>

  </appSettings>
</configuration>
